@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

body{
	font-family: 'Montserrat', sans-serif;
}

.upload-section{
   margin-top: 100px !important;
   border:1px solid #ddd;
   color: #333;
   padding:20px;
   border-radius: 3px;
   width:320px;
   margin:0 auto;
}

.gap-50{
	height: 50px;
	clear: both;
}

.font-16{
	font-size: 16px;
}

.mar-40{
	margin: 40px;
}